@charset "UTF-8";
/* CSS Document */

* {
	margin:0px;
	padding:0px;
	letter-spacing:1px;
	
	}
        
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-resolution: from-image;
}
.nav{
    width: auto;
    padding: 10px 10px;
    font-size: 15px;
    letter-spacing: .3em;
    background: black;
    margin-bottom: 10px;
}
body {
    background-color:black;
    color:#802801;
    text-align:center;
	
	}
	
       
a:link {
	color:#C2571A;
	}
	
a:visited {
	color:#C2571A;
	}
	
a:hover {
	color:#C2571A;

	}

#navbar {
	
	background-color:#8C3C1D;
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	box-shadow:black 0px 5px 10px;
	text-align:center;
	padding-top:40px;
	
	}
	
h1 {
	font-size:20px;
	font-family:Times, "Times New Roman", serif;
	font-weight:normal;
	clear:both;
	}
	
h6 {
	font-size:9px;
	
	}
	
.intro {
	font-size:9px;
	
	}
	
.logo {
	margin:20px;
	}
	
#navline {
	font-size:13px;
	letter-spacing:8px;
	margin-bottom:20px;
	
	}
	
	
hr {
	
	border-color:#C2571A;
	border-bottom-width:2px;
	
	
	
	}
	
	
.article {
	width:800px;
	background-color:#8C3C1D;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	box-shadow:black 0px 5px 10px;
	text-align:center;
	letter-spacing:8px;
	font-size:13px;
	padding-top:20px;

	
	}
	
.article p {
	margin:20px;
	font-size:13px;

	
	}
	
.date {
	font-size:9px;
	line-height:0px;
	margin:0px;
	
	}
.author {
	font-size:13px;
	line-height:40px;
	margin:0px;
	
	}
	
h5 {
	font-weight:normal;
	}
	
b {
	color:black;
	font-weight:normal;
	
	}
	
#footer {
	margin-top:70px;
	color:black;
	border:0px;
	text-align:center;
	letter-spacing:8px;
	font-size:9px;
	margin-bottom:20px;
	}
	
#footer span {
	background-color:#802801;
	padding:3px;
	
	
	}

#footer a {
	text-decoration:underline;	
}

#intro {
	font-weight:normal;
	font-size:30px;
	letter-spacing:4px;
	margin-top:30px;
	margin-bottom:-10px;
	}
	
	
b {	
	letter-spacing:4px;
	}
	
a {
	margin-bottom:10px;
	font-size:10px;
        text-decoration:none;
	transition: color 0.5s ease-out;
	display:inline-block;

	
	
	}

hr {
	border-color:#c1b492;
	display:inline-block;
	width:170px;
	border-style:solid;
	box-shadow:none;
	border-bottom:0px;
	}
	
.text {	
	background-color:#dfd5bc;
	height:18px;
	text-align:center;
	margin-bottom:12px;
	transition: background-color 0.5s ease-out;
	width:170px;

	}
	
input {
	border:none;
	}
	
.button {
	color:#8C3C1D;
	background-color:rgba(0,0,0,0.0);
	width:100px;
	cursor:pointer;
	padding-left:12px;
	padding-top:2px;
	padding-bottom:2px;
	letter-spacing:8px;
	transition: color 0.5s ease-out, border-color 0.5s ease-out;
	text-align:center;
	border-radius:20px;
	border-style: solid;
        border-width: 2px;
	border-color:#dfd5bc;
	line-height:16px;
	margin-bottom:100px;
	
	}
	
.button:hover {
	color:#8C3C1D;
	border-color:#8C3C1D;
	}
	
.darker {
	position:relative;
	width:100%;
	height:100%;
	animation: darkestDown 80s linear infinite;
	
	}
	
.dark {
	position:relative;
	width:100%;
	height:100%;
	animation: darkest 60s linear infinite;
	
	}
	
.MainClass {
	position:relative;
	width:100%;
	height:100%;
        animation: MainClass 20s linear infinite;
	
	}
	
.opacity  {
	position:relative;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.0);
	animation: opacityBg 0.3s linear forwards;
	animation-delay:0.6s;

	}
	
.opacityContent {
	opacity:0;
	animation: opacity 1s ease-in forwards;
	animation-delay:1s;
	
	}
	
.opacityContent2 {
	opacity:0;
	animation: opacity 1s ease-in forwards;
	animation-delay:3.5s;
	
	}
	
@keyframes darkest {
  from {
	  background-position-y:1024px;
  }
  to {
	   background-position-x:-1024px;
	  }
 }
 
 
@keyframes darkestDown {
  from {
	  background-position-y:-1024px;
  }
  to {
	   background-position-x:1024px;
	  }
 }
 
 
 @keyframes MainClass {
  from {
	  background-position-x:341px;
  }
  to {
	   background-position-x:-341px;
	  }
 }
 
 @keyframes opacity {
  from {
	  opacity:0;
  }
  to {
	  opacity:1;
	  }
 }
 
 @keyframes opacityBg {
  from {
	background-color:rgba(0,0,0,0.0);
  }
  to {
	background-color:rgba(0,0,0,0.6);
	  }
 }
 
 @keyframes opacityBG{
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}
 
img{
    box-shadow:grey 0px 5px 10px;
}